@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), local("Roboto-Regular"),
       url("../font/roboto.woff2") format("woff2"),
       url("../font/roboto.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../font/robotobold.woff2") format("woff2"),
       url("../font/robotobold.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../font/robotomedium.woff2") format("woff2"),
       url("../font/robotomedium.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

.visually-hidden
{
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
  margin: 0;
	overflow: hidden;
}

/* NOTE: Отладочный класс */

.test {
  outline: 1px solid skyblue;
}

/* NOTE: Общие стили */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #283136;
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 24px;
}

/* NOTE: Стили шапки */

.header-wrapper {
  background-color: #eeeeee;
}

.main-header {
  display: flex;
  align-items: flex-end;
  width: 1160px;
  margin: 0 auto;
  padding: 48px 20px 0;
}

.header-logo {
  margin-right: 202px;
}

.main-navigation {
  margin: 0;
  margin-right: auto;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  min-width: 438px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  padding: 13px 0;
  border-bottom: 2px solid transparent;
  font-family: "Roboto Medium";
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.basket {
  position: relative;
  display: block;
  padding: 13px 0;
  border-bottom: 2px solid transparent;
  padding-left: 40px;
  font-family: "Roboto Medium";
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.basket::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* NOTE: стили слайдера */

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-motto {
  font-family: "Roboto Medium";
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.button {
  border: none;
  border-radius: 5px;
  font-family: "Roboto Medium";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

/* NOTE: стили блока "Преимущества" */

.main {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-sites::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1.png");
  background-color: #fb565a;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-apps::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2.png");
  background-color: #00ca74;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-presentations::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3.png");
  background-color: #efc849;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-header {
  font-family: "Roboto Bold";
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-button {

}

.advantages-sites .advantages-button {
  background-color: #fb565a
}

.advantages-apps .advantages-button {
  background-color: #00ca74;
}

.advantages-presentations .advantages-button {
  background-color: #efc84a;
}

/* NOTE: стили блока О нас */

.about-header {
  font-family: "Roboto Medium";
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-list-header {
  font-family: "Roboto Bold";
  text-transform: uppercase;
  color: #000000;
}

.about-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-values td {
  font-family: "Roboto Bold";
  font-size: 45px;
  line-height: 10px;
}

.about-values span {
  vertical-align: super;
}

.portfolio-image {
  opacity: 0.2;
}

/* NOTE: Стили подвала */

.footer-map {
  position: relative;
}

.footer-address {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #666666;
  line-height: 18px;
  background-color: #ffffff;
}

.footer-address h3 {
  font-family: "Roboto Bold";
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
}

.social-vk::before {
  content: "";
  display: block;
  width: 26px;
  height: 15px;
  background-image: url("../img/vk-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-fb::before {
  content: "";
  display: block;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-instagram::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.offer-wrapper {
  line-height: 22px;
  color: #444444;
}

.offer-motto {
  font-family: "Roboto Bold";
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
