@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), local("Roboto-Regular"),
       url("../font/Roboto-Regular.woff2") format("woff2"),
       url("../font/Roboto-Regular.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../font/Roboto-Bold.woff2") format("woff2"),
       url("../font/Roboto-Bold.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../font/Roboto-Medium.woff2") format("woff2"),
       url("../font/Roboto-Medium.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

.visually-hidden
{
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
  margin: 0;
	overflow: hidden;
}

/* NOTE: Отладочный класс */

.test {
  outline: 1px solid skyblue;
}

/* NOTE: Общие стили */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #283136;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* HACK: для удаления смещения текста при нажатии в IE11 */

button span {
  position: relative;
}

/* NOTE: Стили шапки */

.header-wrapper {
  min-width: 1200px;
  background-color: #eeeeee;
}

.main-header {
  display: flex;
  align-items: flex-end;
  width: 1160px;
  margin: 0 auto;
  padding: 48px 20px 0;
}

.header-logo {
  margin-right: 202px;
}

.main-navigation {
  margin: 0;
  margin-right: auto;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  min-width: 438px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  padding: 13px 0;
  border-bottom: 2px solid transparent;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation a:hover,
.basket:hover {
  color: #fb565a;
}

.main-navigation a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket {
  position: relative;
  display: block;
  padding: 13px 0;
  border-bottom: 2px solid transparent;
  padding-left: 40px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.basket::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* NOTE: стили слайдера */

.slider {
  position: relative;
  min-width: 1200px;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.slide {
  display: none;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 425px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.slide-visible {
  display: block;
}

.slide-1 {
  background-image: url("../img/slide1.png");
  background-size: 698px 413px;
}

.slide-2 {
  background-image: url("../img/slide2.png");
  background-size: 663px 430px;
}

.slide-3 {
  background-image: url("../img/slide3.png");
  background-size: 759px 411px;
}

.slider-promo {
  width: 530px;
  padding-top: 73px;
}

.slider-motto {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-description {
  margin-bottom: 39px;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  border: none;
  border-radius: 3px;
  padding: 16px;
  text-align: center;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3)
}

.slider-radio {
  position: absolute;
  bottom: 96px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: 0;
  margin-left: -45px;
  padding: 0;
  list-style: none;
}

.slider-control {
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #ffffff;
}

.slider-control-current::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
}

/* NOTE: стили блока "Преимущества" */

.advantages {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 300px;
}

.advantages-sites::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1.png");
  background-color: #fb565a;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-apps::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2.png");
  background-color: #00ca74;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-presentations::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3.png");
  background-color: #efc849;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-header {
  margin-bottom: 18px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-button {
  width: 160px;
}

.advantages-description {
  width: 250px;
  margin-bottom: 31px;
}

.advantages-sites .advantages-button {
  background-color: #fb565a;
}

.advantages-apps .advantages-button {
  background-color: #00ca74;
}

.advantages-presentations .advantages-button {
  background-color: #efc84a;
}

.advantages-sites .advantages-button:hover {
  background-color: #e74246;
  cursor: pointer;
}

.advantages-apps .advantages-button:hover {
  background-color: #00bc6c;
  cursor: pointer;
}

.advantages-presentations .advantages-button:hover {
  background-color: #eab534;
  cursor: pointer;
}

.advantages-sites .advantages-button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.advantages-apps .advantages-button:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.advantages-presentations .advantages-button:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* NOTE: стили блока О нас */

.about {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 37px;
  padding-bottom: 49px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.about-us {
  width: 670px;
}

.about-header {
  margin-bottom: 33px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-description {
  margin-bottom: 39px;
}

.about-list-header {
  margin-bottom: 24px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.about-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-services-list li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.about-services-list li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-features {
  width: 360px;
  padding-top: 3px;
}

.about-logo {
  margin-bottom: 29px;
}

.about-advantages {
  border-collapse: collapse;
}

.about-advantages caption {
  margin-bottom: 48px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-transform: uppercase;
}

.about-advantages td:last-child {
  width: 34%;
}

.about-names td {
  line-height: 18px;
  padding-top: 37px;
}

.about-values td {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 10px;
}

.about-values span {
  font-size: 26px;
  vertical-align: super;
}

/* NOTE: Стили портфолио */

.portfolio {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.portfolio::after {
  content: "";
  display: block;
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.portfolio-item {
  position: relative;
}

.portfolio-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.portfolio-item:nth-child(n+2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.portfolio-image {
  opacity: 1;
}

/* NOTE: Стили подвала */

.main-footer {
  margin: 0 auto;
  padding-bottom: 58px;
  min-width: 1200px;
  background-color: #eeeeee;
}

.footer-map {
  position: relative;
  min-height: 416px;
  margin-bottom: 60px;
  background-color: #eeeeee;
  background-image: url(../img/map-large.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-map iframe {
  display: block;
  width: 100%;
  min-height: 416px;
  border: none;
}

.footer-address-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.footer-address {
  position: absolute;
  top: 54px;
  left: 20px;
  box-sizing: border-box;
  width: 319px;
  padding: 31px 50px;
  padding-bottom: 47px;
  color: #666666;
  line-height: 18px;
  background-color: #ffffff;
}

.footer-address h3 {
  margin-bottom: 23px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.footer-address p {
  margin-bottom: 19px;
}

.footer-address p:last-of-type {
  margin-bottom: 36px;
}

.footer-address a {

  color: inherit;
}

.feedback-button {
  width: 100%;
  margin-top: auto;
}

.social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 139px;
  padding: 0;
  list-style: none;
}

.social-list li {
  margin-right: 10px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
}

.social-vk::before {
  content: "";
  display: block;
  width: 26px;
  height: 15px;
  background-image: url("../img/vk-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-fb::before {
  content: "";
  display: block;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-instagram::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.offer-wrapper {
  margin-top: 15px;
  line-height: 22px;
  color: #444444;
}

.offer-wrapper p {
  margin-top: 10px;
}

p.offer-motto {
  margin: 0;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
